/*  */
.component-node {
  margin-top: 70px;
}
.component-node .form-label {
  font-size: 13px;
  font-weight: bold;
  color: #61728c;
}

/* popover */
.popover.show {
  max-width: 800px !important;
} 
/* end popover */

.btn.value-selector-edit,
.btn.value-selector-reset {
  height: 25px;
  width: 25px;
  padding: 0px;
}

.btn.value-selector-edit i,
.btn.value-selector-reset i {
  font-size: 11px;
}

#cm-complete-0 {
  z-index: 10000;
}
.value-selector {
  height: 2em;
  width: 13em;
  display: flex;
  align-items: center;
  background: #fbfbfb;
  border-radius: 5px;
  border: 1px solid #0d6efd91;
  cursor: pointer;
  padding: 2px 11px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input-value,
.value-selector-content {
  display: inline-flex;
  width: 100%;
  justify-content: start;
}
.variables-select {
  border-color: #0d6efd91;
}

.context-menu.ui-menu.ui-widget.ui-widget-content {
  border: none;
}

.context-menu.ui-menu.ui-widget.ui-widget-content ul {
  padding: 2px;
}
.context-menu.ui-menu > li.ui-menu-item {
  border-bottom: 1px solid #f1f1f1 !important;
}

.context-menu.ui-menu > li.ui-menu-item > div {
  padding: 10px;
  width: 200px;
}

.context-menu.ui-menu
  > li.ui-menu-item
  > div.ui-menu-item-wrapper.ui-state-active {
  background-color: #0d6efd;
  border: none;
  border-radius: inherit;
  font-weight: bold;
}

.context-menu.ui-menu > li.ui-menu-item ul li {
  background-color: #fff;
  border: none;
  padding: 8px;
  width: 150px;
}
.context-menu.ui-menu > li.ui-menu-item ul li.ui-menu-item:hover {
  background-color: #0d6dfdaf;
  font-weight: bold;
  color: #fff;
}


.output-value .output-value {
  padding-left: 16px;
}

.output-value .tag {
  background-color: #0d6efd;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 12px;
}