#cm-complete-0 {
    z-index: 10000;
}
.value-selector {
    height: 2em;
    width: 13em;
    display: flex;
    align-items: center;
    background: #fbfbfb;
    border-radius: 5px;
    border: 1px solid #ababab;
    cursor: pointer;
    padding: 2px 11px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

