<template id="component-node-template">
  <div class="card component-node p-0" style="width: 360px">
    <div class="card-header">
      <i class="bi bi-gear"></i>
      <span class="component-label"></span>

      <button
        class="btn btn-sm"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="bi bi-three-dots"></i>
      </button>
      <ul class="dropdown-menu">
        <li  class="dropdown-item">Something else here</li>
        <li><hr class="dropdown-divider" /></li>
        <li class="dropdown-item danger delete-component" >Delete</li>
      </ul>
    </div>
    <div class="card-body">
      <div class="list-group input"></div>
      <div class="list-group output"></div>
      <div class="list-group on-fail"></div>
      <div class="end-node"></div>
    </div>
  </div>
</template>
