<textarea id="code" name="code" style="display: none"></textarea>
<p>
  Select a theme:
  <select id="select">
    <option selected="">default</option>
    <option>3024-day</option>
    <option>3024-night</option>
    <option>abbott</option>
    <option>abcdef</option>
    <option>ambiance</option>
    <option>ayu-dark</option>
    <option>ayu-mirage</option>
    <option>base16-dark</option>
    <option>base16-light</option>
    <option>bespin</option>
    <option>blackboard</option>
    <option>cobalt</option>
    <option>colorforth</option>
    <option>darcula</option>
    <option>dracula</option>
    <option>duotone-dark</option>
    <option>duotone-light</option>
    <option>eclipse</option>
    <option>elegant</option>
    <option>erlang-dark</option>
    <option>gruvbox-dark</option>
    <option>hopscotch</option>
    <option>icecoder</option>
    <option>idea</option>
    <option>isotope</option>
    <option>juejin</option>
    <option>lesser-dark</option>
    <option>liquibyte</option>
    <option>lucario</option>
    <option>material</option>
    <option>material-darker</option>
    <option>material-palenight</option>
    <option>material-ocean</option>
    <option>mbo</option>
    <option>mdn-like</option>
    <option>midnight</option>
    <option>monokai</option>
    <option>moxer</option>
    <option>neat</option>
    <option>neo</option>
    <option>night</option>
    <option>nord</option>
    <option>oceanic-next</option>
    <option>panda-syntax</option>
    <option>paraiso-dark</option>
    <option>paraiso-light</option>
    <option>pastel-on-dark</option>
    <option>railscasts</option>
    <option>rubyblue</option>
    <option>seti</option>
    <option>shadowfox</option>
    <option>solarized dark</option>
    <option>solarized light</option>
    <option>the-matrix</option>
    <option>tomorrow-night-bright</option>
    <option>tomorrow-night-eighties</option>
    <option>ttcn</option>
    <option>twilight</option>
    <option>vibrant-ink</option>
    <option>xq-dark</option>
    <option>xq-light</option>
    <option>yeti</option>
    <option>yonce</option>
    <option>zenburn</option>
  </select>
</p>
<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
    lineNumbers: true,
    lineWrapping: true,
    styleActiveLine: true,
    matchBrackets: true,
    mode: "python",
    theme: "blackboard",
  });
  var input = document.getElementById("select");
  function selectTheme() {
    var theme = input.options[input.selectedIndex].textContent;
    editor.setOption("theme", theme);
    location.hash = "#" + theme;
  }
  $("#select").on("change", selectTheme);
  var choice =
    (location.hash && location.hash.slice(1)) ||
    (document.location.search &&
      decodeURIComponent(document.location.search.slice(1)));
  if (choice) {
    input.value = choice;
    editor.setOption("theme", choice);
  }
  CodeMirror.on(window, "hashchange", function () {
    var theme = location.hash.slice(1);
    if (theme) {
      input.value = theme;
      selectTheme();
    }
  });

  function getVarsAndContextHint(cm, option) {
    return new Promise(function (accept) {
      setTimeout(function () {
        var cursor = cm.getCursor(),
          line = cm.getLine(cursor.line);
        var start = cursor.ch,
          end = cursor.ch;
        while (start && /(\$|\w)/.test(line.charAt(start - 1))) --start;
        while (end < line.length && /(\$)\w/.test(line.charAt(end))) ++end;
        var word = line.slice(start, end).toLowerCase();
        if (word === "" || word.startsWith("$")) return accept(null);
        const vars = workflow_variables.var.variables
          .filter((v) => v.key.startsWith(word))
          .map((v) => `${v.context}['${v.key}']`);
        const inputs = workflow_inputs.var.inputs
          .filter((v) => v.key.startsWith(word))
          .map((v) => `$inputs['${v.key}']`);
        console.log({ vars, inputs });
        return accept({
          list: vars.concat(inputs),
          from: CodeMirror.Pos(cursor.line, start),
          to: CodeMirror.Pos(cursor.line, end),
        });
      }, 100);
    });
  }

  editor.setOption("extraKeys", {
    "Ctrl-Space": "autocomplete",
    "Ctrl-Enter": function (cm) {
      console.log(cm.getValue());
    },
  });
  editor.setOption("hintOptions", {
    hint: getVarsAndContextHint,
  });
</script>
