<div hidden>
  <div data-name="popover-content">
    <div style="width: 600px" class="align-items-end">
      <div><button type="button" class="btn-close mb-1" aria-label="Close"></button></div>

    </div>

    <div class="context-menu"></div>
    <div class="editor-controls"></div>
    <textarea class="editor" name="editor" style="display: none"></textarea>

    <div class="input-group">
      <button class="btn btn-primary btn-sm mt-2 btn-save" type="button">
        <i class="bi bi-save"></i>
        Save
      </button>
    </div>
  </div>
</div>
