{% extends 'govapp/bwf_base.html' %} {% block content %}
<div class="container-sm">
  <h1>BWF Components</h1>
  <p>Customize your business workflows here.</p>
  <input type="hidden" id="csrf_token" value="{{ csrf_token }}" />
  <button class="btn btn-primary" id="add-workflow" type="button">
    <i class="bi bi-plus"></i>
    New Workflow
  </button>

  {% for workflow in workflows %}

  <div class="card mt-3">
    <div class="card-header">
      <div class="justify-content-between d-flex">
        <a href="workflow/{{workflow.id}}/" class="btn btn-link">
          <h5>{{ workflow.name }}</h5>
        </a>
        <div>
          <button
            class="btn btn-outline-primary btn-sm"
            data-workflow-id="{{workflow.id}}"
            type="button"
          >
            Edit new version
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <p>{{ workflow.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>
<script src="/static/pages/workflow/workflow.js"></script>
<!-- Modals -->
{% include 'modals/new_workflow_modal.html' %}

<script>
  $(() => {
    $("#add-workflow").on("click", function () {
      $("#workflow-creation-modal").modal("show");
    });
  });
</script>
{% endblock %}
