{% extends 'govapp/base.html' %} {% block content %}
<div class="container-sm">
  <input type="hidden" id="workflow_id" value="{{workflow.id}}" />
  <input type="hidden" id="csrf_token" value="{{ csrf_token }}" />
  <h1>{{workflow.name}}</h1>
  <p>{{workflow.description}}</p>

  <div class="row"></div>
  <div
    id="inputs-node"
    class="p-4 gap-4 py-md-5 align-items-center justify-content-center"
    style="width: 450px"
  >
    <div class="card">
      <div class="card-body">
        <label class="d-flex gap-2 mb-2">
          <i class="bi bi-gear"></i>
          <span>Workflow input values</span>
        </label>
        <div class="list-group" id="inputs"></div>
        <label class="d-grid gap-2 mt-2">
          <button class="btn btn-outline-primary add-input">
            <i class="bi bi-plus me-2"></i>
            Add input
          </button>
        </label>
      </div>
    </div>
  </div>
  <div
    id="components-flow"
    class="p-4 gap-4 py-md-5 align-items-center justify-content-center"
  ></div>
  <div
    class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center"
    
  >
    {% for component in main_cluster.components.all %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{component.name}}</h5>
        <p class="card-text">{{component.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
    {% endfor %}
      <button class="btn btn-outline-primary main-add-component" style="display: none;">
        <i class="bi bi-plus me-2"></i>
        Add input
      </button>
    
  </div>
</div>
<script src="/static/pages/workflow/workflow.js"></script>
<script src="/static/pages/workflow/inputs.js"></script>
<script src="/static/pages/workflow/components.js"></script>

<!-- Fragments -->
{% include 'fragments/component_node.html' %}
<!-- END: Fragments -->
<!-- Modals -->
{% include 'modals/inputs_modal.html' %}
{% include 'modals/component_creation_modal.html' %}
<!-- END: Modals -->

<script>
  $(() => {
    const workflow_id = $("#workflow_id").val();
    workflow_inputs.init(workflow_id, "inputs-node");
    workflow_components.init(workflow_id, "components-flow");
    workflow_inputs.csrf_token = $("#csrf_token").val();
    workflow_components.csrf_token = $("#csrf_token").val();
    

    $("button.main-add-component").on("click", function () {
      $("#component-creation-modal").modal("show");
    });
  });
</script>
{% endblock %}
