{% extends 'govapp/base.html' %} {% block content %}
<div class="container-sm">
  <input type="hidden" id="workflow_id" value="{{workflow.id}}" />
  <input type="hidden" id="csrf_token" value="{{ csrf_token }}" />
  <h1>{{workflow.name}}</h1>
  <p>{{workflow.description}}</p>

  <div
    id="variables-container"
    class="row gap-4 py-md-5 align-items-center justify-content-center"
  >
  <div id="variables"></div>
</div>

  <div
    id="inputs-node"
    class="row gap-4 py-md-5 align-items-center justify-content-center"
  >
    <div class="card p-0" style="width: 30%">
      <div class="card-header">
        <i class="bi bi-gear"></i>
        Workflow input values
      </div>

      <div class="card-body p-1">
        <div class="list-group" id="inputs"></div>
      </div>
      <label class="d-grid mt-2">
        <button class="btn btn-outline-primary add-input">
          <i class="bi bi-plus me-2"></i>
          Add Component
        </button>
      </label>
    </div>
  </div>

  <div
    class="row justify-content-center align-items-center"
    id="components-flow"
  ></div>
  <div
    class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center"
  >
    <button
      class="btn btn-outline-primary main-add-component"
      
    >
      <i class="bi bi-plus me-2"></i>
      Add input
    </button>
  </div>
</div>
<script src="/static/pages/workflow/workflow.js"></script>
<script src="/static/pages/workflow/inputs.js"></script>
<script src="/static/pages/workflow/variables.js"></script>
<script src="/static/pages/workflow/components.js"></script>

<!-- Fragments -->
{% include 'fragments/component_node.html' %}
{% include 'fragments/value_popover.html' %}
<!-- END: Fragments -->
<!-- Modals -->
{% include 'modals/inputs_modal.html' %} 
{% include 'modals/component_creation_modal.html' %}
<!-- END: Modals -->

<script>
  $(() => {
    const workflow_id = $("#workflow_id").val();
    workflow_inputs.init(workflow_id, "inputs-node");
    workflow_components.init(workflow_id, "components-flow");
    workflow_variables.init(workflow_id, 'variables-container');
    workflow_inputs.csrf_token = $("#csrf_token").val();
    workflow_components.csrf_token = $("#csrf_token").val();

    $("button.main-add-component").on("click", function () {
      $("#component-creation-modal").modal("show");
    });
  });
</script>
{% endblock %}
