<div>
  <nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Form Builder DBCA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarFB"
        aria-controls="navBarFB" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navBarFB">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {{!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li> --}}
          {{!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> --}}

          {{!-- <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> --}}

        </ul>

      </div>

      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">

          </button>
          <ul class="dropdown-menu">
            <li>
              <h6 class="dropdown-header">Form Builder</h6>
            </li>
            <button id="btn-new-form" type="button" class="dropdown-item">
              <i class="bi bi-file-earmark-plus"></i>
              New Form</button>
            <button id="btn-save-form" type="button" class="dropdown-item">
              <i class="bi bi-file-earmark-plus"></i>
              Save Form</button>
            <button id="btn-load-form" type="button" class="dropdown-item">
              <i class="bi bi-file-earmark-plus"></i>
              Load Form</button>
            <li>
              <hr class="dropdown-divider">
            </li>

            <button id="btn-load-default" type="button" class="dropdown-item">
              <i class="bi bi-file-earmark-plus"></i>
              Load Default Form</button>

          </ul>
        </div>
        <button id="btn-mode" class="btn  btn-primary" type="button">
          Mode
        </button>
        <button id="btn-print-form" type="button" class="btn">
          <i class="bi bi-code"></i>
          Print Form </button>
      </div>
    </div>
  </nav>

  <div class="container">
    <div id="formbuilder" class="row">

    </div>
  </div>
  <div id="formviewer">

  </div>

</div>